<!DOCTYPE html>
<script src="https://kit.fontawesome.com/547003d1bb.js" crossorigin="anonymous"></script>
<html>
  <head>
    <title>TwentyfourGyms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header>
        <ul>

        <div class="menu-box">
          <%= link_to root_path do %>
          <%= image_tag 'img/24gym_logo.png',class: "logo" %>
          <% end %>
          <p>ようこそ<%=current_user.name%>さん！</p>
        </div>
        

        <!-- 検索窓 -->
        <div class="form-inline my-2 my-lg-0">店名検索
          <%= search_form_for @search,url:gyms_path do |f| %>
          <%= f.text_field :name_cont %>
          <button type='submit' class="btn btn-outline-primary">検索</button>
          <% end %>
        </div>


          <li><%= link_to 'ジム一覧', gyms_path, class:'nav-list' %></li>
          <li><%= link_to 'マイページ', user_path(current_user), class:'nav-list'%></li>
          <li><%= link_to'当サイトについて', about_path, class:'nav-list' %></li>
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class:'nav-list' %></li>
        </ul>
    </header>
    <% else %>
    <header>
        <ul>

        <div class="menu-box">
          <%= link_to root_path do %>
          <%= image_tag 'img/24gym_logo.png',class: "logo" %>
          <% end %>
        </div>

          <li ><%= link_to'当サイトについて', about_path, class:'nav-list' %></li>
          <li><%= link_to'新規登録',new_user_registration_path, class:'nav-list' %></li>
          <li><%= link_to'ログイン',new_user_session_path, class:'nav-list' %></li>
          <% end %>
        </ul>
      </header>
      <main>
      <div class="container-fluid">
        <div class="row">
          <% if notice %>
          <p><%= notice %></p>
          <% end %>
          <% if alert %>
          <p><%= alert %></p>
          <% end %>
              <%= yield %>
            </div>
          </div>
        </main>
        <footer class="footer">
          <div class="container">
            <p class="footer-text">CopyRight 24gym</p>
          </div>
        </footer>
      </body>
      </html>
